body{
	background: #FFFFFF;
	}

	.borda{
		position: absolute;
width: 210px;
height: 2048px;
left: -2px;
top: 0px;

background: #EFA5A5;
	}

.titulo{
	position: absolute;
width: 540px;
height: 122px;
left: 253px;
top: 13px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 50px;
line-height: 61px;

color: #000000;
}

.insta{position: absolute;
width: 245px;
height: 117px;
left: 506px;
top: 62px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 36px;

color: #000000;
}

.texto{
	position: absolute;
width: 1042px;
height: 363px;
left: 289px;
top: 282px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 40px;
line-height: 48px;
text-align: center;

color: #000000;
}
