body{
	background: #FFFFFF;
	}

.borda{
		position: absolute;
width: 210px;
height: 2048px;
left: -2px;
top: 0px;

background: #EFA5A5;
	}

.titulo{
	position: absolute;
width: 540px;
height: 122px;
left: 253px;
top: 13px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 50px;
line-height: 61px;

color: #000000;
}

.insta{position: absolute;
width: 245px;
height: 117px;
left: 506px;
top: 62px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 36px;

color: #000000;
}

.texto{
	position: absolute;
width: 1042px;
height: 363px;
left: 450px;
top: 287px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 40px;
line-height: 48px;
text-align: center;

color: #000000;
}

.biblioteca{
	position: absolute;
width: 527.62px;
height: 382.78px;
left: 282.53px;
top: 847px;
}

.futsal{
	position: absolute;
width: 502px;
height: 378px;
top: 847px;
left: 1200px;
}

.quimica{
	position: absolute;
width: 534px;
height: 616px;
left: 760px;
top: 1328px;
}
