.titulo{
  position: absolute;
width: 540px;
height: 122px;
left: 253px;
top: 13px;

  font-size: 60px;
  font-family: Inter;
  font-style: normal;

}

.borda{
position: absolute;
width: 210px;
height: 1000px;
left: -2px;
top: 0px;

background: #EFA5A5;
}
.caminhao{
position: absolute;
	height: 423px;
	width: 451px;
	left: 300px;
	top: 225px;
}
.eu{
	position: absolute;
	height: 784px;
	width: 482px;
	left: 800px;
	top: 225px;
}
.borboleta{
	position: absolute;
	height:343px;
	width:450px;
	left: 300px;
	top: 650px;
}
